
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
   Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
     
    background: #f4f6fb;
    color: black;
    overflow: hidden;
}

.Container{
    display: flex;
    flex-wrap:wrap;
    min-height:100vh;
}


.header{
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    height: 60px;
    background: #17358a;
    color: white;
    padding:0 20px;
    display: flex;
    align-items: center;
    /* height: 100hv; */
}
.header h3{
    font-size: 15px;
    padding-left: 10px;
}
.Sidebar{
    width: 240px;
    height: 750px; 
    background: white;
    border-right: 1px solid #ddd;
    padding: 25px;
    position:fixed;

    display: flex;
    flex-direction: column;

}
.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px ; 
    padding-bottom:30px ;
    border-bottom: 1px solid #57e2db;
    /* width: 100%; */
    padding:0 25px 20px;
    margin: 0 -25px 25px ;
 }
.user-info h3{
    width: 40px;
    height:40px;
    border-radius:30%;
    background:#17358a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:8px; 
    font-size: 16px;
    flex-shrink: 0;
}
.user-info p{
    font-size: 13px;
    color:black;

}

.menu{
    margin-bottom: 30px;
}
.active{
    border: 1px solid #57e2db;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    border-left: 3px solid #57e2db;
    background: #f0eeee;
}


.menu h4{
    font-size: 12px;
    color: black;
    margin-bottom: 10px;
    text-transform:uppercase;
}
.menu ul{
    list-style: none;
}
.menu li{
    padding: 12px 18px;
    margin-bottom: 8px;
    /* border-radius: 8px; */
    font-size: 14px;
    color: black;
    text-align: left;
    cursor: pointer;


}
.account-menu{
    margin-top:80px;
    list-style: none;
    position: absolute;
    bottom: 60px;
    left: 25px;
}
.account-menu h4{
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    margin-bottom: 15px;

}
.account-menu ul{
    list-style:none;
    padding-left: 15px;
    margin: 0;

}
.abc{
    cursor:pointer;
}
.content{ width:90%;
    max-width:950px;
    /* margin:30px auto; */
    margin:90px auto 30px;
   margin-left:calc(240px + 10%);
    background:white;
    border:2px solid #78ddd7;
    border-top:4px solid #78ddd7;
    border-radius:15px;
    padding:30px;
    box-sizing:border-box;}
    #securityForm h2{
         margin-top: -5px;
    }
    #securityForm h4{
        margin-top: 20px;

    } 
    .keep{
        margin-top:10px;
    }
.line{
    margin-bottom: 10px;
}
     .sec{
        margin-top: 10px;
        margin-bottom: 20px;
    } 

 .row{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    /* margin-bottom:20px; */
     margin-top:20px;
}
.box{
    flex:1;
    min-width:260px;
    display:flex;
    flex-direction:column;
    margin-top:20px;
}

.box label{
    margin-bottom:8px;
    font-weight:bold;
    font-size:14px;
}

.box input{
    height:45px;
    border:1px solid #d8d8d8;
    border-radius:8px;
    padding:0 12px;
    background:whitesmoke;
    box-sizing:border-box;
}
.buttons{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    gap:15px;
    margin-top:25px;
    position:relative;
}
.clear{
    padding:12px 20px;
    border:1px solid #40c9c2;
    border-radius:8px;
    background:white;
    /* cursor:pointer; */
}

.update{
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:#40c9c2;
    color:white;
    /* cursor:pointer; */
}
.line{
    margin-top:20px;
    width:100%;
    height:1px;
    background:#40c9c2;
}
.card{
    display:flex;
    gap:20px;
    width:100%;
    height:25%;
}
.box3{
    flex:1;
    /* width:30%; */
    height:80%;
    border:1px solid #40c9c2;
    border-radius:8px;
    background:whitesmoke;

}
.box3 h5{
    /* margin-left: 20px;
    margin-bottom:-10px; */
    margin:8px 0 0 20px;
    font-size:14px;
}
.box3 p{

    /* margin-left:20px; */
    margin:2px 0 0 20px;
    font-size:13px;
}
i{
    color:#40c9c2;
    margin-left:20px;
    margin-top:20px;
}
#passwordMessage{
    margin:0;
    padding:10px 15px;
    border:1px solid rgb(7, 137, 7);
    border-radius:8px;
    background:f5ffff;
    font-size:14px;
    display:none;
    margin-right:680px;
    position:absolute;
    /* right:220px; */
    margin-top: -40px;
}
